<h1> The Manufacturers of Cars </h1>

<% @manufacturers.each do |manufacturer| %>
<h3><a href='/manufacturers/<%= manufacturer.id %>"<%= manufacturer.name %></a></h3>
<% end %>

<a href='vehicles'>All Vehicles</a>
