<h1> The Manufacturers of Vehicles </h1>

<% @manufacturers.each do |manufacturer| %>
<h3 class="parent"><a href='manufacturers/<%= manufacturer.id %>'><%= manufacturer.name %></a> </h3>
<p><%= button_to "Edit Manufacturer #{manufacturer.name}:",
  "/manufacturers/#{manufacturer.id}/edit", method: :get %></p>
<p class="timestamp"> Created At: <%= manufacturer.created_at %> </p>
<br>
<br>
<% end %>

<a href="/manufacturers/new">Create Manufacturer:</a>